*{
  margin: 0;
  padding: 0;
}

#app,body,html{
  
  height: 100%;
}
@font-face {
  font-family: block-title;
  src: url('//game.gtimg.cn/images/lpl/web202301/font-zzgffh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Knucklehead;
  src: url('//game.gtimg.cn/images/lpl/web202301/font-knucklehead.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
ul li{
  list-style: none;
}